@charset "UTF-8";
/*
 * Responsee CSS - v4.1 - 2017-05-14
 * https://www.myresponsee.com
 * Copyright 2016, Vision Design - graphic zoo
 * Free to use under the MIT license.
*/
/* line 8, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

/* line 14, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
body {
  background: none repeat scroll 0 0 #d3d3d3;
  font-size: 16px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #444;
}

/* line 20, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
h1, h2, h3, h4, h5, h6 {
  color: #152732;
  font-weight: normal;
  line-height: 1.3;
  margin: 0.5rem 0;
}

/* line 26, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
h1 {
  font-size: 2.7rem;
}

/* line 27, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
h2 {
  font-size: 2.2rem;
}

/* line 28, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
h3 {
  font-size: 1.8rem;
}

/* line 29, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
h4 {
  font-size: 1.4rem;
}

/* line 30, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
h5 {
  font-size: 1.1rem;
}

/* line 31, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
h6 {
  font-size: 0.9rem;
}

/* line 32, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #9BB800;
  transition: color 0.20s linear 0s;
  -o-transition: color 0.20s linear 0s;
  -ms-transition: color 0.20s linear 0s;
  -moz-transition: color 0.20s linear 0s;
  -webkit-transition: color 0.20s linear 0s;
}

/* line 41, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
a:hover {
  color: #B6C900;
}

/* line 42, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
p, li, dl, blockquote, table, kbd {
  font-size: 0.85rem;
  line-height: 1.6;
}

/* line 46, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
b, strong {
  font-weight: 700;
}

/* line 47, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.text-center {
  text-align: center !important;
}

/* line 48, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.text-right {
  text-align: right !important;
}

/* line 49, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
img {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
  width: auto;
}

/* line 56, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.owl-item img, .full-img {
  max-width: none;
  width: 100%;
}

/* line 60, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
table {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #f0f0f0;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%;
}

/* line 68, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
table tr td, table tr th {
  padding: 0.625rem;
}

/* line 69, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
table tfoot, table thead, table tr:nth-of-type(2n) {
  background: none repeat scroll 0 0 #f0f0f0;
}

/* line 70, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
th, table tr:nth-of-type(2n) td {
  border-right: 1px solid #fff;
}

/* line 71, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
td {
  border-right: 1px solid #f0f0f0;
}

/* line 72, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.size-960 .line, .size-1140 .line, .size-1280 .line {
  margin: 0 auto;
  padding: 0 0.625rem;
}

/* line 76, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
hr {
  border: 0;
  border-top: 1px solid #e5e5e5;
  clear: both;
  height: 0;
  margin: 2.5rem auto;
}

/* line 83, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
li {
  padding: 0;
}

/* line 84, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
ul, ol {
  padding-left: 1.25rem;
}

/* line 85, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
blockquote {
  border: 2px solid #f0f0f0;
  padding: 1.25rem;
}

/* line 89, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
cite {
  color: #999;
  display: block;
  font-size: 0.8rem;
}

/* line 94, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
cite:before {
  content: "— ";
}

/* line 95, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
dl dt {
  font-weight: 700;
}

/* line 96, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
dl dd {
  margin-bottom: 0.625rem;
}

/* line 97, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
dl dd:last-child {
  margin-bottom: 0;
}

/* line 98, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
abbr {
  cursor: help;
}

/* line 99, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 100, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
kbd {
  background: #152732 none repeat scroll 0 0;
  color: #fff;
  padding: 0.125rem 0.3125rem;
}

/* line 105, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
code, kbd, pre, samp {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

/* line 106, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
mark {
  background: #F3F8A9 none repeat scroll 0 0;
  padding: 0.125rem 0.3125rem;
}

/* line 110, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.size-960 .line {
  max-width: 60rem;
}

/* line 111, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.size-1140 .line {
  max-width: 71.25rem;
}

/* line 112, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.size-1280 .line {
  max-width: 80rem;
}

/* line 113, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.size-960.align-content-left .line, .size-1140.align-content-left .line, .size-1280.align-content-left .line {
  margin-left: 0;
}

/* line 114, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
form {
  line-height: 1.4;
}

/* line 115, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
nav {
  display: block;
  width: 100%;
  background: #152732;
}

/* line 120, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.line:after, nav:after, .center:after, .box:after, .margin:after, .margin2x:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* line 129, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.top-nav ul {
  padding: 0;
}

/* line 130, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.top-nav ul ul {
  position: absolute;
  background: #152732;
}

/* line 134, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.top-nav li {
  float: left;
  list-style: none outside none;
  cursor: pointer;
}

/* line 139, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.top-nav li a {
  color: #fff;
  display: block;
  font-size: 1rem;
  padding: 1.25rem;
}

/* line 145, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.top-nav li ul li a {
  background: none repeat scroll 0 0 #152732;
  min-width: 100%;
  padding: 0.625rem;
}

/* line 150, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.top-nav li a:hover, .aside-nav li a:hover {
  background: rgba(153, 153, 153, 0.25);
}

/* line 151, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.top-nav li ul {
  display: none;
}

/* line 152, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.top-nav li ul li, .top-nav li ul li ul li {
  float: none;
  list-style: none outside none;
  min-width: 100%;
  padding: 0;
}

/* line 158, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.count-number {
  background: rgba(153, 153, 153, 0.25) none repeat scroll 0 0;
  border-radius: 10rem;
  color: #fff;
  display: inline-block;
  font-size: 0.7rem;
  height: 1.3rem;
  line-height: 1.3rem;
  margin: 0 0 -0.3125rem 0.3125rem;
  text-align: center;
  width: 1.3rem;
}

/* line 170, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
ul.chevron .count-number {
  display: none;
}

/* line 171, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
ul.chevron .submenu > a:after, ul.chevron .sub-submenu > a:after, ul.chevron .aside-submenu > a:after, ul.chevron .aside-sub-submenu > a:after {
  content: "\f004";
  display: inline-block;
  font-family: mfg;
  font-size: 0.7rem;
  margin: 0 0.625rem;
}

/* line 178, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.top-nav .active-item a {
  background: none repeat scroll 0 0 rgba(153, 153, 153, 0.25);
}

/* line 179, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.aside-nav > ul > li.active-item > a:link, .aside-nav > ul > li.active-item > a:visited {
  background: none repeat scroll 0 0 rgba(153, 153, 153, 0.25);
  color: #fff;
}

@media screen and (min-width: 769px) {
  /* line 184, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .aside-nav .count-number {
    margin-left: -1.25rem;
    float: right;
  }

  /* line 188, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .top-nav li:hover > ul {
    display: block;
    z-index: 10;
  }

  /* line 192, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .top-nav li:hover > ul ul {
    left: 100%;
    margin: -2.5rem 0;
    width: 100%;
  }
}
/* line 198, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.nav-text, .aside-nav-text {
  display: none;
}

/* line 199, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.aside-nav a, .aside-nav a:link, .aside-nav a:visited, .aside-nav li > ul, .top-nav a, .top-nav a:link, .top-nav a:visited {
  transition: background 0.20s linear 0s;
  -o-transition: background 0.20s linear 0s;
  -ms-transition: background 0.20s linear 0s;
  -moz-transition: background 0.20s linear 0s;
  -webkit-transition: background 0.20s linear 0s;
}

/* line 206, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.aside-nav ul {
  background: #e8e8e8;
  padding: 0;
}

/* line 210, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.aside-nav li {
  list-style: none outside none;
  cursor: pointer;
}

/* line 214, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.aside-nav li a, .aside-nav li a:link, .aside-nav li a:visited {
  color: #444;
  display: block;
  font-size: 1rem;
  padding: 1.25rem;
  border-bottom: 1px solid #d2d2d2;
}

/* line 221, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.aside-nav > ul > li:last-child a {
  border-bottom: 0 none;
}

/* line 222, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.aside-nav li > ul {
  height: 0;
  display: block;
  position: relative;
  background: #f4f4f4;
  border-left: solid 1px #f2f2f2;
  border-right: solid 1px #f2f2f2;
  overflow: hidden;
}

/* line 231, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.aside-nav li ul ul {
  border: 0;
  background: #fff;
}

/* line 235, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.aside-nav ul ul a {
  padding: 0.625rem 1.25rem;
}

/* line 236, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.aside-nav li a:link, .aside-nav li a:visited {
  color: #333;
}

/* line 237, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.aside-nav li li a:hover, .aside-nav li li.active-item > a, .aside-nav li li.aside-sub-submenu li a:hover {
  color: #999;
  background: none;
}

/* line 241, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.aside-nav > ul > li > a:hover {
  color: #fff;
}

/* line 242, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.aside-nav li li a:hover:before, .aside-nav li li.active-item a:before {
  content: "\f006";
  display: inline-block;
  font-family: "mfg";
  font-size: 0.6rem;
  margin: 0 0.625rem 0 -1.25rem;
  width: 0.625rem;
}

/* line 250, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.aside-nav li li a:link, .aside-nav li li a:visited {
  background: none;
}

/* line 251, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.aside-nav .show-aside-ul, .aside-nav .active-aside-item {
  height: auto;
}

/* line 252, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.padding {
  display: list-item;
  list-style: none outside none;
  padding: 10px;
}

/* line 257, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.margin, .margin2x {
  display: block;
}

/* line 258, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.margin {
  margin: 0 -0.625rem;
}

/* line 259, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.margin2x {
  margin: 0 -1.25rem;
}

/* line 260, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.line {
  clear: left;
}

/* line 261, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.line .line {
  padding: 0;
}

/* line 262, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.hide-l {
  display: none !important;
}

/* line 263, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.box {
  background: none repeat scroll 0 0 #fff;
  display: block;
  padding: 1.25rem;
  width: 100%;
}

/* line 269, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.margin-bottom {
  margin-bottom: 1.25rem;
}

/* line 270, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.margin-bottom2x {
  margin-bottom: 2.5rem;
}

/* line 271, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.s-1, .s-2, .s-five, .s-3, .s-4, .s-5, .s-6, .s-7, .s-8, .s-9, .s-10, .s-11, .s-12, .m-1, .m-2, .m-five, .m-3, .m-4, .m-5, .m-6, .m-7, .m-8, .m-9, .m-10, .m-11, .m-12, .l-1, .l-2, .l-five, .l-3, .l-4, .l-5, .l-6, .l-7, .l-8, .l-9, .l-10, .l-11, .l-12 {
  float: left;
  position: static;
}

/* line 275, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-offset-1 {
  margin-left: 8.3333%;
}

/* line 276, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-offset-2 {
  margin-left: 16.6666%;
}

/* line 277, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-offset-five {
  margin-left: 16.6666%;
}

/* line 278, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-offset-3 {
  margin-left: 25%;
}

/* line 279, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-offset-4 {
  margin-left: 33.3333%;
}

/* line 280, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-offset-5 {
  margin-left: 41.6666%;
}

/* line 281, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-offset-6 {
  margin-left: 50%;
}

/* line 282, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-offset-7 {
  margin-left: 58.3333%;
}

/* line 283, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-offset-8 {
  margin-left: 66.6666%;
}

/* line 284, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-offset-9 {
  margin-left: 75%;
}

/* line 285, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-offset-10 {
  margin-left: 83.3333%;
}

/* line 286, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-offset-11 {
  margin-left: 91.6666%;
}

/* line 287, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-offset-12 {
  margin-left: 100%;
}

/* line 288, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.s-1 {
  width: 8.3333%;
}

/* line 289, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.s-2 {
  width: 16.6666%;
}

/* line 290, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.s-five {
  width: 16.6666%;
}

/* line 291, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.s-3 {
  width: 25%;
}

/* line 292, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.s-4 {
  width: 33.3333%;
}

/* line 293, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.s-5 {
  width: 41.6666%;
}

/* line 294, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.s-6 {
  width: 50%;
}

/* line 295, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.s-7 {
  width: 58.3333%;
}

/* line 296, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.s-8 {
  width: 66.6666%;
}

/* line 297, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.s-9 {
  width: 75%;
}

/* line 298, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.s-10 {
  width: 83.3333%;
}

/* line 299, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.s-11 {
  width: 91.6666%;
}

/* line 300, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.s-12 {
  width: 100%;
}

/* line 301, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.margin > .s-1, .margin > .s-2, .margin > .s-five, .margin > .s-3, .margin > .s-4, .margin > .s-5, .margin > .s-6, .margin > .s-7, .margin > .s-8, .margin > .s-9, .margin > .s-10, .margin > .s-11, .margin > .s-12,
.margin > .m-1, .margin > .m-2, .margin > .m-five, .margin > .m-3, .margin > .m-4, .margin > .m-5, .margin > .m-6, .margin > .m-7, .margin > .m-8, .margin > .m-9, .margin > .m-10, .margin > .m-11, .margin > .m-12,
.margin > .l-1, .margin > .l-2, .margin > .l-five, .margin > .l-3, .margin > .l-4, .margin > .l-5, .margin > .l-6, .margin > .l-7, .margin > .l-8, .margin > .l-9, .margin > .l-10, .margin > .l-11, .margin > .l-12 {
  padding: 0 0.625rem;
}

/* line 304, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.margin2x > .s-1, .margin2x > .s-2, .margin2x > .s-five, .margin2x > .s-3, .margin2x > .s-4, .margin2x > .s-5, .margin2x > .s-6, .margin2x > .s-7, .margin2x > .s-8, .margin2x > .s-9, .margin2x > .s-10, .margin2x > .s-11, .margin2x > .s-12,
.margin2x > .m-1, .margin2x > .m-2, .margin2x > .m-five, .margin2x > .m-3, .margin2x > .m-4, .margin2x > .m-5, .margin2x > .m-6, .margin2x > .m-7, .margin2x > .m-8, .margin2x > .m-9, .margin2x > .m-10, .margin2x > .m-11, .margin2x > .m-12,
.margin2x > .l-1, .margin2x > .l-2, .margin2x > .l-five, .margin2x > .l-3, .margin2x > .l-4, .margin2x > .l-5, .margin2x > .l-6, .margin2x > .l-7, .margin2x > .l-8, .margin2x > .l-9, .margin2x > .l-10, .margin2x > .l-11, .margin2x > .l-12 {
  padding: 0 1.25rem;
}

/* line 307, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.m-1 {
  width: 8.3333%;
}

/* line 308, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.m-2 {
  width: 16.6666%;
}

/* line 309, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.m-five {
  width: 20%;
}

/* line 310, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.m-3 {
  width: 25%;
}

/* line 311, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.m-4 {
  width: 33.3333%;
}

/* line 312, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.m-5 {
  width: 41.6666%;
}

/* line 313, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.m-6 {
  width: 50%;
}

/* line 314, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.m-7 {
  width: 58.3333%;
}

/* line 315, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.m-8 {
  width: 66.6666%;
}

/* line 316, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.m-9 {
  width: 75%;
}

/* line 317, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.m-10 {
  width: 83.3333%;
}

/* line 318, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.m-11 {
  width: 91.6666%;
}

/* line 319, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.m-12 {
  width: 100%;
}

/* line 320, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-1 {
  width: 8.3333%;
}

/* line 321, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-2 {
  width: 16.6666%;
}

/* line 322, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-five {
  width: 20%;
}

/* line 323, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-3 {
  width: 25%;
}

/* line 324, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-4 {
  width: 33.3333%;
}

/* line 325, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-5 {
  width: 41.6666%;
}

/* line 326, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-6 {
  width: 50%;
}

/* line 327, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-7 {
  width: 58.3333%;
}

/* line 328, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-8 {
  width: 66.6666%;
}

/* line 329, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-9 {
  width: 75%;
}

/* line 330, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-10 {
  width: 83.3333%;
}

/* line 331, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-11 {
  width: 91.6666%;
}

/* line 332, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.l-12 {
  width: 100%;
}

/* line 333, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.right {
  float: right;
}

/* line 334, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.left {
  float: left;
}

@media screen and (max-width: 768px) {
  /* line 336, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .size-960, .size-1140, .size-1280 {
    max-width: 768px;
  }

  /* line 337, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .hide-l, .hide-s {
    display: block !important;
  }

  /* line 338, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .hide-m {
    display: none !important;
  }

  /* line 339, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  nav {
    display: block;
    cursor: pointer;
    line-height: 3;
  }

  /* line 344, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .top-nav li a {
    background: none repeat scroll 0 0 #4a4a4a;
  }

  /* line 345, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .top-nav > ul {
    height: 0;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 999;
  }

  /* line 352, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .top-nav > ul.show-menu, .aside-nav.minimize-on-small > ul.show-menu {
    height: auto;
  }

  /* line 353, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .top-nav ul ul {
    left: 0;
    margin-top: 0;
    position: relative;
    right: 0;
  }

  /* line 359, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .top-nav li ul li a {
    min-width: 100%;
  }

  /* line 360, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .top-nav li {
    float: none;
    list-style: none outside none;
    padding: 0;
  }

  /* line 365, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .top-nav li a {
    border-top: 1px solid #333;
    color: #fff;
    display: block;
    padding: 1.25rem 0.625rem;
    text-align: center;
    text-decoration: none;
  }

  /* line 373, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .top-nav li ul li a {
    border-top: 1px solid #878787;
  }

  /* line 374, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .top-nav li ul li ul li a {
    border-top: 1px solid #989898;
  }

  /* line 375, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .top-nav li a:hover {
    background: none repeat scroll 0 0 #8b8b8b;
    color: #fff;
  }

  /* line 379, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .top-nav li ul, .top-nav li ul li ul {
    display: block;
    overflow: hidden;
    height: 0;
  }

  /* line 384, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .top-nav > ul ul.show-ul {
    display: block;
    height: auto;
  }

  /* line 388, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .top-nav li ul li a {
    background: none repeat scroll 0 0 #9d9d9d;
    padding: 0.625rem;
  }

  /* line 392, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .top-nav li ul li ul li a {
    background: none repeat scroll 0 0 #d7d7d7;
    color: #222;
  }

  /* line 396, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .nav-text {
    color: #fff;
    display: block;
    font-size: 1.2rem;
    line-height: 3;
    margin-right: 0.625rem;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
  }

  /* line 406, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .nav-text:after {
    content: "\f008";
    font-family: "mfg";
    font-size: 1.1rem;
    margin-left: 0.5rem;
    text-align: right;
  }

  /* line 413, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-offset-1, .l-offset-2, .l-offset-five, .l-offset-3, .l-offset-4, .l-offset-5, .l-offset-6, .l-offset-7, .l-offset-8, .l-offset-9, .l-offset-10, .l-offset-11, .l-offset-12 {
    margin-left: 0;
  }

  /* line 414, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-offset-1 {
    margin-left: 8.3333%;
  }

  /* line 415, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-offset-2 {
    margin-left: 16.6666%;
  }

  /* line 416, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-offset-five {
    margin-left: 16.6666%;
  }

  /* line 417, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-offset-3 {
    margin-left: 25%;
  }

  /* line 418, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-offset-4 {
    margin-left: 33.3333%;
  }

  /* line 419, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-offset-5 {
    margin-left: 41.6666%;
  }

  /* line 420, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-offset-6 {
    margin-left: 50%;
  }

  /* line 421, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-offset-7 {
    margin-left: 58.3333%;
  }

  /* line 422, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-offset-8 {
    margin-left: 66.6666%;
  }

  /* line 423, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-offset-9 {
    margin-left: 75%;
  }

  /* line 424, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-offset-10 {
    margin-left: 83.3333%;
  }

  /* line 425, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-offset-11 {
    margin-left: 91.6666%;
  }

  /* line 426, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-offset-12 {
    margin-left: 100%;
  }

  /* line 427, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-1 {
    width: 8.3333%;
  }

  /* line 428, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-2 {
    width: 16.6666%;
  }

  /* line 429, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-five {
    width: 20%;
  }

  /* line 430, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-3 {
    width: 25%;
  }

  /* line 431, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-4 {
    width: 33.3333%;
  }

  /* line 432, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-5 {
    width: 41.6666%;
  }

  /* line 433, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-6 {
    width: 50%;
  }

  /* line 434, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-7 {
    width: 58.3333%;
  }

  /* line 435, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-8 {
    width: 66.6666%;
  }

  /* line 436, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-9 {
    width: 75%;
  }

  /* line 437, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-10 {
    width: 83.3333%;
  }

  /* line 438, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-11 {
    width: 91.6666%;
  }

  /* line 439, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-12 {
    width: 100%;
  }

  /* line 440, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-1 {
    width: 8.3333%;
  }

  /* line 441, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-2 {
    width: 16.6666%;
  }

  /* line 442, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-five {
    width: 20%;
  }

  /* line 443, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-3 {
    width: 25%;
  }

  /* line 444, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-4 {
    width: 33.3333%;
  }

  /* line 445, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-5 {
    width: 41.6666%;
  }

  /* line 446, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-6 {
    width: 50%;
  }

  /* line 447, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-7 {
    width: 58.3333%;
  }

  /* line 448, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-8 {
    width: 66.6666%;
  }

  /* line 449, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-9 {
    width: 75%;
  }

  /* line 450, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-10 {
    width: 83.3333%;
  }

  /* line 451, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-11 {
    width: 91.6666%;
  }

  /* line 452, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-12 {
    width: 100%;
  }

  /* line 453, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-1 {
    width: 8.3333%;
  }

  /* line 454, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-2 {
    width: 16.6666%;
  }

  /* line 455, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-five {
    width: 20%;
  }

  /* line 456, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-3 {
    width: 25%;
  }

  /* line 457, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-4 {
    width: 33.3333%;
  }

  /* line 458, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-5 {
    width: 41.6666%;
  }

  /* line 459, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-6 {
    width: 50%;
  }

  /* line 460, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-7 {
    width: 58.3333%;
  }

  /* line 461, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-8 {
    width: 66.6666%;
  }

  /* line 462, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-9 {
    width: 75%;
  }

  /* line 463, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-10 {
    width: 83.3333%;
  }

  /* line 464, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-11 {
    width: 91.6666%;
  }

  /* line 465, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-12 {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  /* line 468, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .size-960, .size-1140, .size-1280 {
    max-width: 480px;
  }

  /* line 469, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .aside-nav li a {
    text-align: center;
  }

  /* line 470, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .minimize-on-small .aside-nav-text {
    background: #152732 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.2rem;
    line-height: 3;
    max-width: 100%;
    padding-right: 0.625rem;
    text-align: center;
    vertical-align: middle;
  }

  /* line 482, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .aside-nav-text:after {
    content: "\f008";
    font-family: "mfg";
    font-size: 1.1rem;
    margin-left: 0.5rem;
    text-align: right;
  }

  /* line 489, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .aside-nav.minimize-on-small > ul {
    height: 0;
    overflow: hidden;
  }

  /* line 493, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .hide-l, .hide-m {
    display: block !important;
  }

  /* line 494, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .hide-s {
    display: none !important;
  }

  /* line 495, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .count-number {
    margin-right: -1.25rem;
  }

  /* line 496, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-offset-1, .l-offset-2, .l-offset-five, .l-offset-3, .l-offset-4, .l-offset-5, .l-offset-6, .l-offset-7, .l-offset-8, .l-offset-9, .l-offset-10, .l-offset-11, .l-offset-12,
  .m-offset-1, .m-offset-2, .m-offset-five, .m-offset-3, .m-offset-4, .m-offset-5, .m-offset-6, .m-offset-7, .m-offset-8, .m-offset-9, .m-offset-10, .m-offset-11, .m-offset-12 {
    margin-left: 0;
  }

  /* line 498, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-offset-1 {
    margin-left: 8.3333%;
  }

  /* line 499, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-offset-2 {
    margin-left: 16.6666%;
  }

  /* line 500, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-offset-five {
    margin-left: 16.6666%;
  }

  /* line 501, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-offset-3 {
    margin-left: 25%;
  }

  /* line 502, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-offset-4 {
    margin-left: 33.3333%;
  }

  /* line 503, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-offset-5 {
    margin-left: 41.6666%;
  }

  /* line 504, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-offset-6 {
    margin-left: 50%;
  }

  /* line 505, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-offset-7 {
    margin-left: 58.3333%;
  }

  /* line 506, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-offset-8 {
    margin-left: 66.6666%;
  }

  /* line 507, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-offset-9 {
    margin-left: 75%;
  }

  /* line 508, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-offset-10 {
    margin-left: 83.3333%;
  }

  /* line 509, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-offset-11 {
    margin-left: 91.6666%;
  }

  /* line 510, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-offset-12 {
    margin-left: 100%;
  }

  /* line 511, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-1 {
    width: 8.3333%;
  }

  /* line 512, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-2 {
    width: 16.6666%;
  }

  /* line 513, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-five {
    width: 20%;
  }

  /* line 514, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-3 {
    width: 25%;
  }

  /* line 515, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-4 {
    width: 33.3333%;
  }

  /* line 516, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-5 {
    width: 41.6666%;
  }

  /* line 517, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-6 {
    width: 50%;
  }

  /* line 518, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-7 {
    width: 58.3333%;
  }

  /* line 519, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-8 {
    width: 66.6666%;
  }

  /* line 520, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-9 {
    width: 75%;
  }

  /* line 521, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-10 {
    width: 83.3333%;
  }

  /* line 522, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-11 {
    width: 91.6666%;
  }

  /* line 523, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .l-12 {
    width: 100%;
  }

  /* line 524, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-1 {
    width: 8.3333%;
  }

  /* line 525, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-2 {
    width: 16.6666%;
  }

  /* line 526, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-five {
    width: 20%;
  }

  /* line 527, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-3 {
    width: 25%;
  }

  /* line 528, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-4 {
    width: 33.3333%;
  }

  /* line 529, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-5 {
    width: 41.6666%;
  }

  /* line 530, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-6 {
    width: 50%;
  }

  /* line 531, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-7 {
    width: 58.3333%;
  }

  /* line 532, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-8 {
    width: 66.6666%;
  }

  /* line 533, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-9 {
    width: 75%;
  }

  /* line 534, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-10 {
    width: 83.3333%;
  }

  /* line 535, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-11 {
    width: 91.6666%;
  }

  /* line 536, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .m-12 {
    width: 100%;
  }

  /* line 537, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-1 {
    width: 8.3333%;
  }

  /* line 538, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-2 {
    width: 16.6666%;
  }

  /* line 539, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-five {
    width: 20%;
  }

  /* line 540, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-3 {
    width: 25%;
  }

  /* line 541, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-4 {
    width: 33.3333%;
  }

  /* line 542, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-5 {
    width: 41.6666%;
  }

  /* line 543, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-6 {
    width: 50%;
  }

  /* line 544, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-7 {
    width: 58.3333%;
  }

  /* line 545, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-8 {
    width: 66.6666%;
  }

  /* line 546, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-9 {
    width: 75%;
  }

  /* line 547, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-10 {
    width: 83.3333%;
  }

  /* line 548, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-11 {
    width: 91.6666%;
  }

  /* line 549, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
  .s-12 {
    width: 100%;
  }
}
/* line 551, c:/Sites/liwendemo/app/assets/stylesheets/responsee.scss */
.center {
  float: none;
  margin: 0 auto;
  display: block;
}
