<a target="_blank" class="hide-s" href="../template/onepage-premium-template/" style="position:fixed;top:130px;right:-14px;z-index:10;"><%= image_tag("liwen-welcome.png") %></a>
<!-- TOP NAV WITH LOGO -->
<header>
    <div id="topbar">
      <div class="line">
         <div class="s-12 m-6 l-6">
            <p>CONTACT ME: <strong>liwenc12@gmail.com</strong></p>
         </div>
         <div class="s-12 m-6 l-6">
            <div class="social right">
               <a><i class="fa fa-facebook-square" aria-hidden="true"></i></a> <a><i class="fa fa-twitter-square" aria-hidden="true"></i></a> <a><i class="fa fa-google-plus-square" aria-hidden="true"></i></a> <a><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
         </div>
      </div>
   </div>
    <nav>
       <div class="line">
          <div class="s-12 l-2">
             <p class="logo"><strong>One</strong>page</p>
          </div>
          <div class="top-nav s-12 l-10">
             <p class="nav-text">Custom menu text</p>
             <ul class="right">
                <li class="active-item"><a href="#carousel">Home</a></li>
                <li><a href="#features">Qualifications</a></li>
                <li><a href="#about-us">About Me</a></li>
                <!--<li><a href="#our-work">Our Work</a></li>-->
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
             </ul>
          </div>
       </div>
    </nav>
</header>
